* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 270px;
  height: 205px;
  padding: 0%; }

body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%; }

html {
  scroll-behavior: smooth; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #1E6540;
  padding: 2rem 0 1rem 0; }
  header #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 95%; }
  header #logo {
    width: 150px;
    height: 120px; }
    @media (min-width: 576px) {
      header #logo {
        width: 130%; } }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50rem;
    list-style: none;
    text-decoration: none; }
    header ul li a {
      color: #110a3a;
      font-family: 'Pirata One', cursive;
      font-size: 25px; }
      header ul li a:hover {
        color: rgba(10, 19, 28, 0.6); }
      header ul li a img {
        width: 70px;
        height: 70px; }

.about {
  display: flex;
  justify-content: center;
  background-image: url(/proyecto1/src/assets/css/img/FondoSEction.jpg); }
  .about div h1 {
    display: flex;
    color: #1E6540;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    margin-top: 1.5rem; }
  .about div span {
    display: flex;
    color: #1E6540;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
    margin-bottom: 5rem;
    margin-top: 3.5rem;
    text-align: center; }
  .about div #imgAbout {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

.description {
  background-color: #F3F0CD;
  padding: 5rem 0 0 0; }
  .description div h2 {
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    color: #110a3a;
    justify-content: center;
    font-size: 32px; }
  .description div span {
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    color: #110a3a;
    justify-content: center;
    font-size: 20px;
    margin-top: 3rem; }
  .description div ol {
    margin-top: 6rem; }
    .description div ol li {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      font-size: 25px;
      color: #1E6540;
      font-family: 'Rock Salt', cursive; }
      .description div ol li p {
        display: flex;
        justify-content: center;
        width: 28rem; }
      .description div ol li #flecha {
        width: 140px;
        height: 100px;
        margin-right: 17rem; }

.catalogo {
  padding: 4rem 0 0 0;
  text-align: center; }
  .catalogo h2 {
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    color: #0A131C;
    justify-content: center;
    font-size: 38px; }
  .catalogo ul {
    width: 95%;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .catalogo ul li {
      flex: 0 0 270px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      padding: 2.5rem;
      margin-bottom: 5rem;
      box-shadow: 2px 0px 17px 2px rgba(10, 19, 28, 0.3);
      position: relative; }
      .catalogo ul li span:first-of-type {
        color: #110a3a;
        font-size: 25px;
        margin: 1rem 0 0 0;
        font-family: 'Rock Salt', cursive; }
      .catalogo ul li span:last-of-type {
        color: #110a3a;
        font-size: 32px;
        font-weight: 900;
        margin: 2rem 0; }
      .catalogo ul li button {
        background: #8DDC61;
        color: #0A131C;
        text-transform: uppercase;
        padding: 1rem 4rem;
        font-size: 13px;
        font-weight: 700;
        border: #0A131C;
        border-radius: 1rem;
        cursor: pointer; }

.cart {
  background-color: #439ae0;
  padding: 4rem 0 0 0; }
  .cart h2 {
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    color: #F3F0CD;
    justify-content: center;
    font-size: 38px; }
  .cart p {
    display: flex;
    color: #110a3a;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
    margin-bottom: 4rem;
    margin-top: 3rem; }
  .cart div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0 0 0 0; }
    .cart div img {
      width: 175px;
      height: 145px;
      box-shadow: 2px 0px 17px 2px rgba(10, 19, 28, 0.3);
      border-radius: 1rem; }
    .cart div span {
      display: flex;
      align-items: center; }
      .cart div span:nth-child(2) {
        color: #0A131C;
        font-size: 35px;
        margin: 1rem 0 0 0;
        font-family: 'Pacifico', cursive; }
      .cart div span:nth-child(3) {
        color: #110a3a;
        font-size: 32px;
        font-weight: 900;
        margin: 2rem 0; }
      .cart div span:nth-child(1) {
        color: #110a3a;
        font-size: 42px;
        font-weight: 900;
        margin: 3rem;
        font-family: 'Rock Salt', cursive; }
  .cart button {
    margin: 0 0 5rem 40%;
    background: #8DDC61;
    color: #110a3a;
    text-transform: uppercase;
    padding: 1rem 4rem;
    font-family: 'Rock Salt', cursive;
    font-size: 35px;
    font-weight: 700;
    border: #0A131C;
    border-radius: 1rem;
    cursor: pointer; }

footer {
  background-color: #0A131C; }
  footer h2 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 34px;
    color: #EBF8F7; }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%; }
    footer div img {
      margin: 3rem 0 3rem 0;
      width: 150px;
      height: 140px; }
